/* Configurações Padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --titulo-color: #FF1493;
    --efeito-pink-color:#C71585;
    --white-color: #fff;
    --texto1-color: #000000;
    --texto2-color: #DC143C;
    --efeito-red-color:#B22222;

    --font-grande: 3.0rem;
    --h2-font: 3.2rem;
    --p-font: 1rem;
}

body {
    color: var(--texto1-color);
    background: var(--white-color);
}

/* Sessão Header */

header {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 25px 18%;
    z-index: 1000;
    transition: all .35s ease;
}

.logo img {
    max-width: 100%;
    width: 150px;
    height: auto;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: var(--p-font);
    color: var(--texto1-color);
    padding: 10px 28px;
    font-weight: 700;
    transition: all .35s ease;
}

.navbar a:hover {
    color: var(--efeito-pink-color);
}

.navbar a.active {
    color: var(--titulo-color);
}

#menu-icon {
    color: var(--texto1-color);
    font-size: 40px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.top-btn a {
    display: inline-block;
    background: var(--titulo-color);
    color: var(--white-color);
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    font-weight: 700;
}   

/* Sessão Home */

section {
    padding: 80px 18%;
}   
.home {
    height: 90vh;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 3rem;
}

.home h1 {
    margin: 20px 0 20px;
    font-size: var(--font-grande);
    line-height: 1.1;
    color: var(--titulo-color);
}

.home h3 {
    color: var(--texto1-color);
    font-size: 25px;
    font-weight: 600;
}

.home p{
    font-size: var(--p-font);
    color: rgba(240, 75, 103, 0.642);
    line-height: 27px;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
}

.btn {
    display: inline-block;
    background: var(--titulo-color);
    color: var(--white-color);
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    font-weight: 700;   
    transition: all .25s ease;
}

.btn:hover{
    box-shadow: 0px 15px 22px rgba(230, 98, 111, 0.888);
}

.home-img img {
    width: 100%;
    height: auto;
}

/* Sessão Quem Somos */

.quem-somos {
    background-color: #ecc7de;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 3rem
}

.quem-somos-img {
    width: 60%;
    height: auto;
    padding-top: 80px;
}