* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --titulo-color: #FF1493;
    --efeito-pink-color:#C71585;
    --white-color: #fff;
    --texto1-color: #000000;
    --texto2-color: #DC143C;
    --efeito-red-color:#B22222;

    --font-grande: 4.8rem;
    --h2-font: 3.2rem;
    --p-font: 1rem;
}

body {
    color: var(--texto1-color);
    background: var(--white-color);
}

header {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 25px 18%;
    z-index: 1000;
    transition: all .35s ease;
}

.logo img {
    max-width: 100%;
    width: 150px;
    height: auto;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: var(--p-font);
    color: var(--texto1-color);
    padding: 10px 28px;
    font-weight: 700;
    transition: all .35s ease;
}

.navbar a:hover {
    color: var(--efeito-pink-color);
}

.navbar a.active {
    color: var(--efeito-pink-color);
}

#menu-icon {
    color: var(--texto1-color);
    font-size: 40px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.top-btn a {
    display: inline-block;
    background: var(--efeito-pink-color);
    color: var(--white-color);
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    font-weight: 700;
}   